jwt_code_phrase: "example-phrase"
cache:
  ttl: 1000
  key_prefix: "database-service"
db:
  host: "postgres"
  port: "5432"
  username: "database-service"
  password: "password"
  database: "users_data"
redis:
  addr: "redis:6379"
  db: 0
  username: "database-service"
  password: "password"